src/main/mule/demo-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ab7b2189-73c5-464a-b9be-44498cae1ca4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo-projectFlow" doc:id="9fd24581-197f-41d5-970d-524e571b0857" >
		<http:listener doc:name="Listener" doc:id="1d534f6b-432a-40ac-93fc-837183650039" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value="Hello Tigray" doc:name="Set Payload" doc:id="e13f9075-1ae0-4d0c-aba0-8396ffd6a9d1" />
		<logger level="INFO" doc:name="Logger" doc:id="1306040e-7e29-46f8-8df9-2b5793751922" message="#[payload]"/>
	</flow>
</mule>
